<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label >
            Esvreva seu nome: 
        </label>
        <input type="text" name="nomena">
        <br>
        <label >
            Escreva um número aleatorio: 
        </label>
        <input type="text" name="numerola">
        <button type="submit">apertaaaa</button>
    </form>
</body>
</html>