<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular alguma coisa do atomo que esqueci o que é</title>
</head>
<body>
    <%- include('viewa/_titulo.ejs') %>
    <h1>Trabaio</h1>
    <form action="/calculo" method="post">
        <label>dividendo</label>
        <input type="text" name="dividendo" required>
        <label>divisor</label>
        <input type="text" name="divisor" required>
        <button type="submit">butaum</button>
    </form>
</body>
</html>