<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <%- include('viewa/_titulo.ejs') %>
    <h1>  <%=total%> </h1>
    <%- include('viewa/_link.ejs') %>
</body>
</html>