<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>

    <h1>Calculadora</h1>
    
    <form action="/sub">
        <h2>Subtração</h2>
        <h3>(em: -)</h3>
        <label>Primeiro número</label>
        <br>
        <input type="number" name="n1">
        <br>
        <label>Segundo número</label>
        <br>
        <input type="number" name="n2">
        <br>
        <button type="submit">Submit</button>
    </form>

    <form action="/soma">
        <h2>Soma</h2>
        <h3>(em: +)</h3>
        <label>Primeiro número</label>
        <br>
        <input type="number" name="n1">
        <br>
        <label>Segundo número</label>
        <br>
        <input type="number" name="n2">
        <br>
        <button type="submit">Submit</button>
    </form>

    <form action="/mult">
        <h2>Multiplicação</h2>
        <h3>(em: *)</h3>
        <label>Primeiro número:</label>
        <br>
        <input type="number" name="n1">
        <br>
        <label>Segundo nímero:</label>
        <br>
        <input type="number" name="n2">
        <br>
        <button type="submit">Submit</button>
    </form>

    <form action="/div">
        <h2>Divisão/</h2>
        <h3>(em: /)</h3>
        <label>Primeiro número:</label>
        <br>
        <input type="number" name="n1">
        <br>
        <label>Segundo número:</label>
        <br>
        <input type="number" name="n2">
        <br>
        <button type="submit">Submit</button>
    </form>

    
</body>
</html>