<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular alguma coisa do atomo que esqueci o que é</title>
</head>
<body>
    <h1>Trabaio</h1>
    <form action="/calculo">
        <label>Frequência</label>
        <input type="number" name="freq" required>
        <label>Trabalho</label>
        <input type="number" name="trabai" required>
        <button type="submit">butaum</button>
    </form>
</body>
</html>